body,
html {
  height: 100%; }

.full {
  padding: 0 !important;
  margin: 0 auto !important;
  background-size: cover !important;
  overflow: hidden;
  height: auto; }

header .abouthero {
  padding: 11rem 0; }
  header .abouthero .inner h1 {
    font-family: Avenir, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.13;
    color: #ffffff; }
  header .abouthero .inner h3 {
    line-height: 1.5;
    color: #ffffff;
    width: 100%;
    margin-bottom: 2rem;
    font-weight: 300; }

.numbers-section {
  padding: 3rem 0;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  -webkit-box-shadow: 0 10px 99px 0 rgba(21, 82, 134, 0.1);
  box-shadow: 0 10px 99px 0 rgba(21, 82, 134, 0.1);
  background: #ffffff; }
  .numbers-section p {
    font-size: 16px;
    opacity: 0.7; }
  .numbers-section .border-rgt {
    border-right: 1px solid #e4e7ea; }

.abt-section-1 {
  padding: 8rem 0; }
  .abt-section-1 img {
    width: 100%;
    height: 100%; }
  .abt-section-1 .top {
    padding-bottom: 5rem; }
  .abt-section-1 .top h3 {
    margin-top: 2rem; }

.abt-team {
  padding: 8rem 0 3rem 0;
  background-color: #eaf2f8; }
  .abt-team .cf-team .team-card {
    -webkit-transition: border linear .2s, -webkit-box-shadow;
    transition: border linear .2s, -webkit-box-shadow;
    -o-transition: box-shadow, border linear .2s;
    transition: box-shadow, border linear .2s;
    transition: box-shadow, border linear .2s, -webkit-box-shadow; }
  .abt-team .team-card {
    margin-bottom: 2rem;
    border-radius: 0 0 3px 3px;
    cursor: pointer; }
    .abt-team .team-card .text p {
      font-size: 15.2px;
      font-weight: 600;
      line-height: 1.4;
      color: #0f375a;
      font-family: 'Open Sans', sans-serif; }
    .abt-team .team-card .text h6 {
      color: #0f375a;
      opacity: 0.7;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      margin-bottom: 0; }
    .abt-team .team-card .bottom {
      padding: 17px 10px;
      background: #ffffff;
      width: 100%;
      height: 100%; }
    .abt-team .team-card .bottom .social {
      border-left: 1px solid #e4e7ea;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      -webkit-transform: translatey(135%);
      -ms-transform: translatey(135%);
      transform: translatey(135%);
      float: right;
      margin-top: -9rem;
      background-color: white;
      padding: 14px;
      width: 100%; }
    .abt-team .team-card .bottom .social img {
      height: 18px;
      cursor: pointer; }
    .abt-team .team-card figure {
      margin: -1px; }
    .abt-team .team-card figure img {
      width: 100%; }
  .abt-team .cf-team .team-card:hover {
    -webkit-box-shadow: -10px 10px 0px 0 rgba(19, 64, 93, 0.03);
    box-shadow: -10px 10px 0px 0 rgba(19, 64, 93, 0.03);
    border: 5px solid #ffffff; }

.blank-spacer-divider {
  margin: 6rem 0; }

.cf-pt {
  padding-top: 1rem !important; }

@media (max-width: 766px) {
  .abt-section-1 img {
    width: auto;
    height: auto; } }
